[submodule "lib/beads"]
	path = lib/beads
	url = git@github.com:steveyegge/beads.git
[submodule "lib/omcp"]
	path = lib/omcp
	url = git@github.com:nicsuzor/omcp.git
[submodule "lib/gastown"]
	path = lib/gastown
	url = git@github.com:steveyegge/gastown.git
[submodule "lib/markdown-links"]
	path = lib/markdown-links
	url = https://github.com/tchayen/markdown-links.git
