[project]
name = "writing"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "google-genai>=1.30.0",
    "litellm>=1.75.5.post1",
    "pydantic>=2.11.7",
    "email-reply-parser>=0.5.12",
    "uv>=0.8.12",
]
